.TaskBox {
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  color: #000;
  text-align: left;
  border: 2px solid #333;
  border-radius: 12px;
  overflow: hidden;
}

.Task {
  display: inline-block;
}

.TaskBox .icon {
  margin-right: 5px;
  float: right;
  cursor: pointer;
  font-size: 16px;
}

.TaskBox .check-square {
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 3px;
  text-align: center;
  color: #eee;
}

.TaskBox.resolved .check-square {
  color: #000;
}

.TaskBox .fa-trash-o {
  font-size: 20px;
}