.TodoList {
  width: 90%;
  min-width: 480px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 1.3;
  border: 2px solid #333;
  border-radius: 12px;
  background: #ddd;
}

.Tasks {
  padding: 10px 20px;
  background: #eee;
  border-radius: 12px;
}