.NoteList .NoteInput {
  max-width: calc(100% - 100px);
  min-width: calc(100% - 100px);
  max-height: 55px;
  min-height: 55px;
  padding: 4px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
}

.NoteList .NoteControl {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.NoteList .ItemSave {
  width: 60px;
  margin: 0 20px 25px;
  color: green;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.NoteList .IconRemove {
  vertical-align: top;
  margin-top: -15px;
  width: 20px;
  height: auto;
  cursor: pointer;
}