.Overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Modal {
  width: 300px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 10px;
}

.ModalBody {
  margin: 20px;
}