.WatchList .ItemInput {
  width: calc(100% - 100px);
  padding: 4px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
}

.WatchList .ItemControl {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.WatchList .ItemSave {
  width: 60px;
  margin-right: 10px;
  color: green;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.WatchList .IconRemove {
  width: 20px;
  height: auto;
  cursor: pointer;
}