.InputNote {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}

.InputNote textarea {
  max-width: calc(100% - 100px);
  min-width: calc(100% - 100px);
  max-height: 55px;
  min-height: 55px;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #333;
  border-radius: 5px;
}

.InputNote .Button {
  vertical-align: top;
  width: 60px;
  margin: 10px 20px;
}