.Nav {
  margin: 20px 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  cursor: default;
}

.Nav li {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
}

.Nav-Item {
  text-decoration: none;
  cursor: pointer;
}

.Nav-Item:hover {
  color: #03a8e3;
}

.Nav-Item.Selected {
  color: #03a8e3;
  cursor: default;
}