.TaskForm {
  padding: 30px 0;
  overflow: hidden;
}

.TaskForm p {
  width: calc(100% - 100px);
  height: 40px;
  display: inline-block;
}

.TaskForm input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 14px;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
}

.TaskForm button {
  width: 80px;
  height: 35px;
  float: right;
}
